* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

.gradient-old {
  background: rgb(55, 0, 255);
  background: linear-gradient(
    180deg,
    rgba(55, 0, 255, 1) 0%,
    rgba(110, 16, 193, 1) 25%,
    rgba(249, 4, 153, 1) 50%,
    rgba(252, 110, 79, 1) 75%,
    rgba(255, 140, 58, 1) 100%
  );
}

.gradient {
  background: rgb(55, 0, 255);
  background: linear-gradient(
    180deg,
    rgba(55, 0, 255, 1) 0%,
    rgba(225, 4, 249, 1) 33%,
    rgba(252, 110, 79, 1) 80%,
    rgba(255, 140, 58, 1) 100%
  );
}

body {
  // @extend .gradient;
  background-color: rgb(255, 255, 248);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;

  .modal-open {
    overflow-y: hidden;
  }
}

a,
a:visited {
  color: blue;
}

.md {
  h1,
  h2,
  h3 {
    margin-block-end: 0;
  }
}

$modal-z-index: 1;

.modal {
  z-index: $modal-z-index;
}

.project-card {
  background-color: #303030;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;

  margin-bottom: 0.5rem;

  a,
  a:visited {
    color: white;
  }
}
